

.back-top {
    background-color: lightblue;
    height: 20vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

}

.back-down {
    background-color: lightgray;
    height: 80vh;
    width: 100vw;
    position: fixed;
    top: 20vh;
    left: 0;

}

.front-box {
    background: white;
    padding: 24px;
    width: 20vw;
    margin: auto;
    margin-top: 5%;
    z-index: 5;
    position: relative;

}
body {
    margin: 0;
}